
:root{
  background-color: var(--main-bg-color);
}
.App {
  text-align: center;
  position: absolute;
  left: calc(25%);
  width: 50%;
  border: 2px solid #9f9a9a81;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.App-darkTheme {
  text-align: center;
  position: absolute;
  left: calc(25%);
  width: 50%;
  border: 2px solid #9f9a9a81;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(61, 60, 60);
}

.select-box{
  background-color: #4287f5;
  font-family: inherit;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px;
  margin-top: 10px;
  margin-left: 5px;
}

.Lista-text{
  font-size: 50px;
  text-decoration: dashed;
}

.addItem-container h1{
  font-family: inherit;
  color: #4287f5;
}

.addItem-container input{
  border-radius: 20px;
  width: 60%;
  margin: 5px;
  border: 2px solid #bfc3c3de;
  padding-left: 5px;
  color: black;
  height: 20px;
}

.addItem-container input:hover{
  border: 2px solid #4287f5;

}

.addItem-container button{
  border-radius: 20px;
  border: none;
  background-color: #4287f5;
  font-family: inherit;
  height: 25px;
  color: whitesmoke;
  font-size: 11px;
  width: 30%;
  cursor: pointer;
  font-weight: bold;
}

.addItem-container button:hover{
  background-color: #42aaf5;
}

.item-container{
  margin-top: 10px;
}
.item-container input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 20px;
  border: 2px solid rgb(102, 153, 51);
  cursor: pointer;
  margin-bottom: -2px;
}

.item-container input[type="checkbox"]:checked{
  background-color: rgb(102, 153, 51);
}

.item-container input[type="text"]{
  border-radius: 10px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
  width: 50%;
  background-color: white;
  
}

.EditButton{
  border-radius: 10px;
  border: none;
  background-color: #ffc300;
  color: white;
  font-family: inherit;
  font-size: 11px;
  height: 20px;
  width: 40px;
  margin-right: 3px;
  cursor: pointer;
  font-weight: bold;
}
.EditButton:hover{
  background-color: #ffd500;
}

.DoneButton{
  border-radius: 10px;
  border: none;
  background-color: rgb(102, 153, 51);
  color: white;
  font-family: inherit;
  font-size: 11px;
  height: 20px;
  width: 40px;
  margin-right: 3px;
  cursor: pointer;
  font-weight: bold;
}

.DoneButton:hover{
  background-color: rgb(112, 153, 51);
}

.DeleteButton{
  background-color: #e94235;
  border: none;
  font-family: inherit;
  font-weight: bold;
  border-radius: 20px;
 height: 22px;
 width: 22px;
  cursor: pointer;
  padding-bottom: 3px;
  margin-left: 4px;
}

.DeleteButton:hover{
  background-color: #fb5151;
}


.DeleteAllButton{
  background-color: #e94235;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 11px;
  font-weight: bold;
  border-radius: 5px;
  height: 30px;
  width: 30%;
  cursor: pointer;
  margin-left: 10px;
}

.DeleteAllButton:hover{
  background-color: #fb5151;
}


